/* src/components/Shimmer.css */
.shimmer {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 4px; /* Optional: rounded corners */
  margin: 5px 0; /* Space between messages */
}

.shimmer.left {
  align-self: flex-start; /* Align to the left */
  max-width: 70%; /* Adjust width for bot messages */
}

.shimmer.right {
  margin-right: 0px;
  display: flex;
  align-content: end;
  justify-content: end;
  margin-left: 30%;
  max-width: 70%; /* Adjust width for user messages */
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}